/*typography*/

body{
    background:#f8f8f8;
    font-family: "Merriweather", Georgia, serif;
    font-weight:400;
    font-size:16px;
    color:#202020;
    width:100%;
}
h1, h2, h3, h4, h5, h6{
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight:700;
    line-height:1.6em;
}
h1{
    font-size:2em;
font-weight:900;
}
h2{
    font-size:1.5em;
}
h3{
    font-size:1.3em;
}
h4{
    font-size:1.15em;
}
p{
    line-height:1.65em;
}
/*header and footer styles*/
header{
    background:#00274C;
    padding:2em 0 .5em;
    width:100%;
}
footer{
    font-family:"Pathway Gothic One", Helvetica, sans-serif;
    background:#202020;
    padding:.5em 0 1em .5em;
    color:#ededed;
    }
address{
    font-style:normal;
    text-transform:uppercase;
    font-stretch:ultra-expanded;
    padding:.5em;
    display:inline;
    background: #202020;
}
/*sets desktop page columns*/
.page{
    display:grid;
    grid-template-columns: 5% 1fr 1fr 1fr 5%;
    grid-template-rows: auto;
    margin:0 auto;
}
/*main navigation*/
nav li{
    display:inline-block;
    font-family:Helvetica, sans-serif;
}
nav a{
    text-decoration:none;
}
nav ul{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}
header nav li a:hover, footer a:hover{
    color:#ffcb05;
}
/*link states*/
a {
	color:#9a3324;
	text-decoration:underline;
}
footer address a, nav ul li a{
    color:#ededed;
}
footer address a:visited{
    color:#ffcb05;
}
a:active, a:hover {
	color:#702082;
}
/*positions content in the middle of the page*/
div.container{
    grid-column:2/5;
    grid-row-start:2;
}
/*card array*/
div.card img, div.card h2, div.card h3, div.card p{
    width:90%;
}
/*mobile layout*/
div.wrapper{
    display:grid;
    grid-template-columns:1fr;
}
/*layout changes to left-aligned image at 600px wide browser window*/
@media screen and(min-width:600px){
    div.card{
            display:grid;
            grid-template-columns:1fr 1fr 1fr;
    }
    div.card img{
        grid-column:1 / span 1;
        justify-self:start;
    }
    div.card div{
        grid-column:2 / span 2;
        justify-self:start;
    }
}
/*layout changes to tiled cards at 900 px wide browser window*/
@media only screen and (min-width:900px) {
    .wrapper{
        grid-template-columns:1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-column:span 3;
        grid-row-gap: 40px;
    }
}

/*icons*/
i{
    padding-left:.5em;
    font-size:.75em;
}
/* hero image*/
.hero{
    width:100%;
    grid-column:1/6;
    grid-row-start:1;
}
