body {
  font-family: "Open Sans", sans-serif;
   line-height: 19px;
}
h3{
  width:150px;
}
.logo{
  width:250px;
}

main, fieldset {
  width: 500px;
  margin: 0 auto 10px;
}
.label,
.scorefield {
  display: flex;
  justify-content: space-between;
}
.score {
  padding: 10px;
}
.label {
  border-bottom: 5px solid black;
}
input,
label {
  display: block;
}

@media screen and (min-width: 640px) {
  main {
    width: 600px;
  }
  .examples {
    flex-direction: row;
  }
}
#submit {
  padding: 10px 20px;
  background-color: #00274c;
  border: #00274c;
  color: #fff;
}
