/*global typography and layout*/
body{
    font-family: 'Noto Serif', serif;
    display:grid;
    grid-template-columns: 15% auto 15%;
    grid-template-rows:50px 90% 10% 50px;
}
h1, h2{
    font-family: 'Open Sans', sans-serif;
}
header{
    grid-column:1 / span 3;
    grid-row:1 /span 1;
}
main{
    grid-column:2 / span 1;
    grid-row:2 / span 1;
    width:340px;
    margin:5%;
}
footer{
    grid-column:1 / span 3;
    grid-row:5 / span 1;
}
/*Explainer*/
#explain{
    visibility: hidden;
    padding-top:2em;
}
.bold{
    font-weight: bold;
}

/*image style*/
.shrink{
    width:5%;
}
.logo{
    width:200px;
}
input{
    margin:.5em;
}
@media screen and (min-width:640px){
    main{
        width:600px;
    }
}
@media screen and (min-width:1024px){
    main{
        width:800px;
    }
}