body {
    font-family: Helvetica, sans-serif;
    background-color: #fefefe;
    font-size: 16px;
    font-weight: 350;
    margin: 0;
    padding: 0;
    line-height:1.65;
}
header {
    padding: 1em 0 0 10%;
    border-bottom: 1px solid #660033;
}
h1 {
    color: #660033;
    font-weight: 300;
}
.wrapper {
    width: 80%;
    margin-left: 10%;
}
div {
    padding: 0 1em 1em 0;
}
main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 25px;
}
.full {
    grid-column:1 / span 4;
    padding: 0;
}
.leftblock {
    width: 100%;
    grid-column:1 / span 2;
}
.rightblock {
    width: 100%;
    grid-column:3 / span 2;
}
.vidinfo {
    grid-column:1 / span 2;
}
h3 {
    text-transform: capitalize;
    font-weight: 550;
    margin-top: 0;
}
.full h2 {
    padding: .5em 1em;
}
h2 {
    font-weight: 300;
    color: #e9e9e9;
    background-color: #660033;
}
div.video {
    padding: 0;
}
.video {
    grid-column: 3 / span 2;
}
iframe {
    width: 100%;
    height: 300px;
}
footer {
    background-color: darkgrey;
    padding: 1em 1em 1em 10%;
}
a{
    color:#660033;
}
a:hover, a:focus{
    color:#993333;
}

img{
    width:40%;
    padding:.5em 1em;
}
img.wide{
    width:85%;
}
.credit{
    font-weight:300;
    font-size:.75em;
}
.tools{
    border-top:1px solid #666666;
    border-bottom:1px double #666666;
    padding:1em 0;
    background-color:#e9e9e9;
}
.tools h3, .tools p{padding:0 2em;
}
